{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body class="text-white">
  {% url 'home:index' as home_url %}
  {% url 'home:about' as about_url %}
  {% load dict_filters %}
  {% include 'home/navbar.html' with title="From Darkness" navs='{"Home": "{{ home_url }}", "About": "{{ about_url }}"}'|to_dict %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-7">
        <hr>
        {% block content %}{% endblock %}
      </div>
      <div class="col-md"></div>
    </div>
  </div>

</body>
</html>
