{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'home/style.css' %}?{% now 'U' %}">

</head>
<body class="text-white">
  
  {% include 'home/navbar.html' %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md-6">{% block content %}{% endblock %}</div>
      <div class="col-md"></div>
    </div>
  </div>

</body>
</html>