{% extends "home/base.html" %}
{% block title %}From Darkness - Photography{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

{% block content %}

<div class="container-fluid">
    <div class="row" data-masonry='{"percentPosition": true }'>
        {% for photo in photos %}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ photo.image.url }}" class="card-img-top">
                    <p>{{ photo.image.url }}</p>
                    <p>{{ photo.image.path }}</p>
                </div>
            </div> 
        {% endfor %}
    </div>
</div>
{% endblock %}