{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="{% static 'photo/photo.css' %}">
  <script type="text/javascript" src="{% static 'photo/photo.js' %}"></script>
</head>

<body class="text-white">
  
  {% include 'home/navbar.html' %}

  <div class="container-fluid">
    {% for project in projects %}
    <div class="row mb-4">
        <div class="col">
            {% with photo=project.photo_set.all|random %}
            <card class="project btn btn-dark card bg-transparent overflow-hidden align-items-center" style="height: 400px; background-image: url({{ photo.image.url }})">
                <div class="card-img-overlay container-fluid">
                    <div class="row h-100 text-center align-items-center">
                        <div class="col-lg-4 col-md-5 col-sm-12">
                            <h1 class="card-text project-text" style="text-shadow: 5px 5px 5px black">{{ project.title }}</h1>
                        </div>
                        <div class="col-lg-4 col-md-1 col-sm-12" style="height: 100%"></div>
                        <div class="col-lg-4 col-md-5 col-sm-12">
                            <p style="text-shadow: 2px 2px 2px black">{{ project.summary }}</p>
                        </div>
                    </div>
                </div>
            </card>
            {% endwith %}
        </div>
    </div>
    {% endfor %}
  </div>

</body>
</html>