{% load static %}
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="{% static 'photo/photo.css' %}">
  <script type="text/javascript" src="{% static 'photo/photo.js' %}"></script>
</head>

<body class="text-white container-fluid">

    {% include 'photo/photo_modal.html'  %}


</body>
</html>