{% extends "home/base.html" %}
{% block title %}Chooser{% endblock %}
{% block content %}
  <h1>{{ tournament.get_current_player.name }}'s turn</h1>
  <form action="{% url 'chooser:choose' tournament.id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend><h1>{{ tournament.collection.name }}</h1></legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif%}
      {% for item in tournament.get_options %}
        <input type="radio", name="item" id="item{{ forloop.counter }}" value="{{item.id}}">
        <label for="item{{ forloop.counter }}">{{ item.value }}</label><br>
      {% endfor %}
    </fieldset>
    <input type="submit" name="chose" value="Choose">
    <input type="submit" name="eliminate" value="Eliminate">
    <input type="submit" name="pass" value="Pass">
  </form>
{% endblock %}